/* ---- BODY STYLE ----*/
body {
    background-color: black;
}

/* -----------------------*/



/* ---- CONTENITORE PAGINA STYLE ----*/
.contenitore-pagina {
    display: flex;
}


/* CONTENITORE PRIMARIO STYLE */
.contenitore-primario {
    width: 70%;
    height: auto;
    border: 2px solid white;
    padding: 10px;
}

/* HEADER STYLE */
header {
    background-color: rgb(22, 21, 21);
    border-radius: 20px;
    /*border: 2px solid white;*/
    display: flex;
}

.contenitore-primario-bottoni-next-back {
    width: 100%;
}

.class-button-nextback {
    color: white;
    background-color: black;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    width: 55px;
    font-family: Poppins;
    font-weight: 300;
}

.class-button-access {
    background-color: white;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    font-family: Poppins;
}

/* -- */


/* MAIN STYLE */
main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
}

.contenitore-raccolta-artisti {
    display: flex;
    padding-left: 0px;
    gap: 20px;
}


h1,
.titolo-nome-artista,
.titolo-tipologia-artista {
    color: white;
    font-family: Poppins;
}

h1 {
    font-size: 30px;
    margin-block-start: 0px;
}

.titolo-nome-artista {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 18px;
    font-weight: 600;
}

.titolo-tipologia-artista {

    font-size: 15px;
    font-weight: 600;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.contenitore-immagine-artista {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.immagine-artista {
    border-radius: 100px;
    width: 150px;
    height: auto;
}

/* -- */


/* FOOTER STYLE */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.tabella-footer {
    font-family: Poppins;
    font-size: 15px;
    text-align: left;
    padding-bottom: 20px;
}

.tabella-footer th {
    color: white;
    width: 300px;
}

.tabella-footer th {
    color: white;
    width: 300px;
}

.tabella-footer td {
    color: rgb(126, 124, 124);
    text-align: left;
    font-weight: 600;
}

.contenitore-footer-social {
    display: flex;
    gap: 30px;
}

.fa {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(46, 45, 45);
    border-radius: 200px;
}

hr {
    border: 1px solid rgb(46, 45, 45);
}

.contenitore-footer-close {
    color: rgb(126, 124, 124);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    padding-top: 30px;
}

/* -- */

/* CONTENITORE SECONDARIO STYLE */
.contenitore-secondario {
    width: 30%;
    height: auto;
    border: 2px solid white;
}

/* -- */


/* -----------------------*/